.list{
    background-color: aqua;
}

.main-background{
    background-color: azure;
}

.academics{
    background-color: aqua;
}

.research{
    background-color: antiquewhite;
}

.entrepreneurship{
    background-color: bisque;
}

.links{
    background-color: azure;
}